<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
</head>
<body>
    <div class="container" id="body-container">
        <div class="navbar-container">
            <div class="profile_txt">
                <h3>Welcome, {{ request.user.first_name }}</h3>
                <div class="action-text">
                    <a href="">Logout</a>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="container" id="left-box">
                <div class="container" id="upload-box">
                    <div class="container" id="title-box">
                        <h3>Upload File</h3>
                    </div>
                    <form action="" enctype="multipart/form-data" method="POST" class="dropzone">
                        {% csrf_token %}
                        <div class="drop-zone" id="drop-zone-box">
                            <div class="btn-close" id="disp-off">
                                <span>×</span>
                            </div>
                            <div class="thumbnail-no-select">
                                <div class="thumbnail">
                                    <img src="{% static 'functions/svg/file_icon.svg' %}" alt="" srcset="">
                                </div>
                                <small>Please upload a valid CSV file</small>
                            </div>
                            <div class="thumbnail-select disp-off">
                                <div class="thumbnail">
                                    <div id="thumbnail-icon">
                                        <img src="{% static 'functions/svg/file_icon.svg' %}" alt="" srcset="">      
                                    </div>
                                </div>
                                <small><p class="txt-center" id="file-name">test.csv</p></small>
                            </div> 
                            <input type="file" name="csv-file" accept=".csv" id="" class="drop-zone__input">       
                        </div>
                        <button type="submit" class="button" id="uploadBtn">Upload</button>
                    </form>
                </div>
            </div>
            <div class="container" id="upload-history-box">
                <div class="container" id="title-box">
                    <h3>Upload History</h3>
                </div>
                <div class="window">
                    <table class="table" id="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Uploaded on</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="form-box pos-center" id="upload-box">
        <form action="" enctype="multipart/form-data" method="POST" class="dropzone">
            {% csrf_token %}
            <h3 class="display-title display-4 txt-center">Upload</h3>
            <hr>
            <div class="form-group">
                <div class="drop-zone" id="drop-zone-box">-->
                    <!--<span class="drop-zone-txt"><img src="{% static 'accounts/svg/file_icon.svg' %}" alt="upload" srcset=""></span>-->
                    <!--<div class="file disp-off">
                        <div class="thumb-container">
                            <div class="thumbnail-box">
                                <span class="close-btn"><img src="{% static 'accounts/svg/close-btn.svg' %}" alt="remove" srcset=""></span>
                                <div class="thumbnail-icn1"><img src="{% static 'accounts/svg/file_icon.svg' %}" alt="upload" srcset=""></div>
                            </div>
                            <div>
                                <small><p class="txt-center" id="file-name">test.csv</p></small>
                            </div> 
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="thumbnail-icn"><img src="{% static 'accounts/svg/file_icon.svg' %}" alt="upload" srcset="" class="v-align"></div>
                    </div>
                    <input type="file" name="csv-file" accept=".csv" id="" class="drop-zone__input">
                </div>
            </div>
            <button type="submit" class="button" id="uploadBtn">Upload</button>
            <hr>
            <small><p class="txt-center">Please upload a valid CSV file.</p></small>
        </form>
    </div>-->
    <div class="developer">
        <small><p class="txt-center">Made with ❤️ by AlphaWare Labs</p></small>
    </div>
    <script src="{% static 'functions/js/upload.js' %}" defer></script>
</body>
</html>