<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/accounts/css/main.css' %}">  
</head>
<body>
    <div class="flex flex-column justify-content-center w-fit h-screen m-auto">
        {% for message in messages %}
        <div class="form-box mb-4">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        <div class="form-box">
            <form action="" method="POST">
                {% csrf_token %}
                <h3 class="display-title display-4 txt-center">Register</h3>
                <hr>
                <div class="form-group">
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password1 }}
                    <div class="form-group pl-1">
                        <small>Password must be minimum 8 characters long</small>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password2 }}
                </div>
                <div class="form-group">
                    <button type="submit" class="button">Register</button>
                </div>
                <hr>
                <small><p class="txt-center">Already have an account? <a href="{% url 'login' %}">Sign In</a></p></small>
            </form>
        </div>
    </div>
</body>
</html>

