<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Finance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/accounts/css/main.css' %}">
</head>
<body>
    <div id="particles-js"></div>
    <div class="flex flex-column justify-content-center w-fit h-screen m-auto">
        <div class="flex align-items-center">
            <h1 class="text-3xl bold">CSV Finance</h1>
            <p class="text-3xl font-900 ml-3">//</p>
        </div>
        <p class="mx-auto">Upload and manage your CSV files.</p>
        <div class="flex justify-items-end">
            <a href="{% url 'login' %}" class="generic-button">Login</a>
            <a href="{% url 'register' %}" class="generic-button">Register</a>
        </div>
    </div>
    <script src="{% static 'static/accounts/js/particles.min.js' %}"></script>
    <script>
        particlesJS.load('particles-js', "https://csv-finance-uploads.s3.amazonaws.com/static/static/accounts/assets/particles.json", function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>
</html>